.scrollContent1 {
    max-height: 70% ! important;
}

.breadcrumb > li 
{
    .background-color: yellow;
    padding: 0.5em 1ex 0.5em 1ex;
}

.breadcrumb > li.active
{
    .background-color: red;
}

.breadcrumb > li > a
{
    .color: #3385AD;
    color: #F0F0F0;
    .padding: .1ex 0 50em 1ex;
}

.breadcrumb > li.active > a
{
    .color: #1975A3;
    color: var(--grey10);
}


a, a:visited {
    .color:#337ab7;
    .color:#999;
    .color:#FFFFFF;
    text-decoration:none;

}

/* ------- moved to colors.css - by Paul
a:focus,a:hover{
color:var(--grey10);		
text-decoration:none;

}
*/

a:focus{
    outline: none;
}


.tab-content > .active {
    .display: block;
    display: flex;
    flex-direction: column;
    height: 100%;
}



.nav-tabs-custom {
    height:100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;
}

/*
#policy_setup_options {
        height: 10%; 
        clear: both;
        display: inline;
}
*/

#policy_setup_options {

}

.autoFlex {
    flex: 1 1 auto;
}

.policy_defination{
    height:100%;
    width: 100%;
    display: inline-flex;
    .margin-top:1ex;    
}

.box-body {
    background-color: var(--grey10);
    border-top: 1em solid transparent;
}

.cursor {
    line-height: 2em;
}

.policy_modify {
    margin: 0.5ex;
    .background-color: #003D5C;
    color: var(--grey10);
    font-size: 1.2em;
    .text-shadow: 0em 0.1em 0.8em #ffa500;
}

.ms-res-ctn.dropdown-menu {
    display: flex !important;
    flex-wrap: wrap;
    /*	min-height: 3em; */
    font-size: 1em !important;
    height: auto !important; 
    /*overflow: auto !important; */
    align-items: flex-start;
    .max-height: 30% !important;
}


.policy_modify{
    .width:6%;
    height: 99%;
    flex: 1;
}

.policy_config {
    .flex: 25;
    .overflow: auto;
    .height: 99%;
    border: .3em solid yellow;
}


.new_policy_setup {
    flex: 1 9 3em;
    border: 0;
    .padding: 1em 0 0 0;
    .max-height: 100%;
    .height: 100%;
    .overflow: auto;
}

#config_new_rule {
    .overflow: auto;
}

.config_buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    /* margin: 0 1ex; */
    flex: 1 1 4em;
    /* width: 2.5em; */
    align-content: space-between;
    /* border: .1ex solid black; */
    align-items: center;
}

.new_policy{
    height: 100%;
    .background-color: bisque;
}

.new_button {
    display: inline-flex;
    background-color: #4cae4c;
    float: right;
    height:99%;
}


.policy_manager {
    .overflow-x: hidden;
    height: 100%;
    .flex: 20 20 1em;
}

.btn-success {
    border: .2em solid transparent;
}



._form-group {
    margin: 0;
    padding: .1em 0;
    display: inline-flex;
    .border: .2em solid #cce0eb;
    border-bottom: .1em solid var(--grey8);
    width: 100%;
    height: auto;
    vertical-align: bottom;
    background-color: var(--grey10);
}


.form-control {
    height: auto;
    border-color: transparent;
    box-shadow: none;
    align-self: flex-start;
    font-size: inherit;
}

.button_show {
    white-space: nowrap;
    border: 1ex solid #ff6a29;
    align-self: flex-end;
    background-color: #ff6a29;
}
.button_show {
    color: #f0f0f0;
}

.button_show {
    white-space: nowrap;
    border: 1ex solid #ff6a29;
    align-self: flex-end;
    background-color: #ff6a29;
}

.view, .edit {
    display: flex;
    flex-direction: column;
}

.pageMiddle#pageMiddle {
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.section_content {
    height: 100%;
    width: 100%;

}

/* magicsuggest.css (118, 27) */
.ms-res-ctn .ms-res-group {
    line-height: 1em;
    text-align: left;
    padding: 1ex;
    font-weight: bold;
    background: #006699;
    color: #ddd;
    border: .1em solid #cce0eb;
    letter-spacing: 0.4ex;
    flex: 1 1 100%;
}

/* magicsuggest.css (280, 10) */
.country {
    .background-color: var(--grey7);
    .padding: .2em;
}

/* magicsuggest.css (289, 16) */
.country .name {
    font-weight: normal;
    .color: #006699;
    .letter-spacing: 0.25ex;
    line-height: 1.5em;
    .color: var(--blue-3);
    color: var(--orange-8);

}

/* magicsuggest.css (305, 21) */
.country .prop .val {
    font-size: 0.8em;
    line-height: 1em;
    .color: #444;	/*defined the color in colors.css - Paul */
}


/* magicsuggest.css (128, 26) */
.ms-res-ctn .ms-res-item {
    line-height: 1em;
    text-align: left;
    cursor: pointer;
    .display: inline-block;
    display: flex;
    .margin: .2ex 1ex .2ex 0;
    flex: 1 1 auto;
    align-self: flex-start;
    align-items: center;
    padding: 1ex;
    color: var(--grey-8);
    border: .1ex solid var(--grey10);
    background-color: var(--grey8); 
}

.ms-res-ctn .ms-res-item-active {
    background-color: var(--grey10);
    .color:#ff5a26;
}


body{
    line-height: 1.25em !important;
}

.details_search:hover, .details_search:focus {
    overflow: auto;

}

.details_search {
    word-wrap: break-word;
    /* max-width: 670px; */
    text-align: left;
    max-width: 50em;
    /*	width: 50em; */
    white-space: pre-wrap;
    overflow: hidden;
    overflow-wrap: break-word;
    flex: 1 1 50em;
    width: auto !important;
    text-overflow: ellipsis;
}


.list_item {
    padding: 0;
    .background-color: #f7f7f7;
    border-right: 1ex solid transparent;
    /* margin: .1ex; */
    /* line-height: 1.9em; */
    white-space: nowrap;
    /* text-align: center; */
    .background-color: var(--grey9);
}

.label_input {
    .word-wrap: break-word;
    text-align: left;
    padding-left: 0.2em;
    padding-right: 0;
    width: 35ex;
    min-width: 35ex;
    white-space: normal;
    /* width: 30ex; */
    .background-color: transparent;
    display: inline-block;
    .border-right: 1em solid transparent;
    .border-left: 2em solid transparent;
    /*	white-space: nowrap; */
    .color: #00334C;
    .text-shadow: 0em 0em 0.8em;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    .background-color: #E6F0F5;
    flex: 1 1 35ex;
    width: auto !important;
}



.label_input_range {
    .word-wrap: break-word;
    text-align: left;
    padding-left: 0.2em;
    padding-right: 0;
    width: 15ex;
    min-width: 15ex;
    white-space: normal;
    color: var(--grey-10);
    .text-shadow: 0em 0em 0.8em;
    background-color: var(--grey8);
    /* width: 30ex; */
}

.no_border{
    border:none;
}

.width99{
    width:99%;
}

.flex {
    display:inline-flex;
}

.form-control {
    padding: 0 1ex !important;

}

.breadcrumb_details {
    .flex: 1 1 auto;
    flex: 0 0 2em;

    padding: 0;
    display: flex;
}

.details {
    flex: 1 1 auto;	
    max-height: 100%;
}

.info-box{
    display:block;
    min-height:8em;
    background:var(--grey10);
    width:100%;
    box-shadow:0 .1ex .1ex rgba(0,0,0,0.1);
    border-radius:.2ex;
    margin-bottom:1em;
}

.info-box small{
    font-size:1em;
}

.info-box .progress{
    background:rgba(0,0,0,0.2);
    margin:.5ex -1em .5ex -1em;
    height:.2ex;
}

.info-box .progress,.info-box .progress .progress-bar{
    border-radius:0;
}

.info-box .progress .progress-bar{
    background:var(--grey10);
}

.info-box-icon{
    border-top-left-radius:.2ex;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:.2ex;
    display:block;
    float:left;
    height:8em;
    width:8em;
    text-align:center;
    font-size:4em;
    line-height:8em;
    background:rgba(0,0,0,0.2);
}

.info-box-icon>img{
    max-width:100%;
}

.info-box-content{
    padding:.5ex 1em;
    margin-left:8em;
}

.info-box-number{
    display:block;
    font-weight:bold;
    font-size:1em;
}

.info-box-text{
    display:block;
    font-size:1em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.info-box-text{
    text-transform:uppercase;
}

.info-box-more{
    display:block;
}

.halfWidth{
    width:50%;
    max-width:50%;
}

.floatRight{
    float:right;
}

.desc{
    padding-top: 1em;
}

a:focus,a:hover{				
    text-decoration:none;
}

.right_align{
    text-align: right;
}

.authentication {
    padding-top: 16em;
}

.authentication .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.authentication .form-group {
    margin-bottom: 0;
    width: 100%;
}
.authentication .input-group-addon:first-child {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.authentication .input-group-addon {
    padding: .5em 1ex;
    font-size: 1.3em;
    font-weight: normal; 
    border: .2ex solid var(--grey6);
}


.authentication .input-group-addon, .authentication .input-group-btn {
    width: 8%;
    white-space: nowrap;
    vertical-align: middle;
}

.authentication  .input-group-addon, .authentication .input-group-btn, .authentication .input-group .form-control {
    display: table-cell;
}

.authentication .input-group .form-control:last-child, .authentication  .input-group-addon:last-child, .authentication  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.authentication  .input-group .form-control {
    width: 100%;
    margin-bottom: 0;
}

.authentication  .form-control {
    display: block;
    .width: 100%;
    height: 2.3em;
    font-size: 1.3em;
    line-height: 1.428571429;
    vertical-align: middle;
    border: .2ex solid var(--grey6);
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.authentication  .btn-block {
    border-radius: 0;
	border: .2em solid transparent;
}

.authentication  .btn-block:focus, .authentication  .btn-block:hover {
	border: .2em solid var(--blue5);
}

.authentication  .header {
    font-size: 1.5em;
    padding-bottom: .5em;
    width: 100%;
}

.credentials {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.performance {
    box-shadow: 0 !important;
}

#_desc ul {
	list-style-type: disc !important;
	list-style-position: inside;
}

#_desc ol{
	list-style-type: number !important;
	list-style-position: inside;
}
#_desc dd{
	padding: .5em 1em .5em 1em;
}

#_desc dl{
	padding: 0 0 1em 0;
}
